
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;;
}

body{
    background-color: #e5c0d9;
}
.grid-container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 
    "logo"
    "navbar"
    "main"
    "asd"
    "footer";
}


/* Navbar */
.navbar {
    grid-area: navbar;
    background-color: #e5c0d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-logo{
    color: #8e42a5;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem;
}

#expand-toggle{
    display: none;
}

.menu-icon{
    color: #8e42a5;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
}

.navbar-nav{
    width: 100%;
    height: 0;
    background-color: #e5c0d9;
    transition: all 0.3s ease-out;
}

.nav-link{
    display: block;
    padding: 1rem;
    color: #8e42a5;
}

.nav-link:hover{
    background-color: #7f62bab7;
    color:#fff;
}

#expand-toggle:checked ~ .navbar-nav {
    padding: 1rem 0;
    height: auto;
    opacity: 1;
}
#expand-toggle:checked ~ .navbar-nav .oculta{
    visibility: visible;

}
.oculta{
    visibility: hidden;
}
.logo{
    grid-area: logo;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.logo img{
    width: 100%;
}

/*----------- MOVIL FIRST ---------------*/
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.contenido{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    overflow-y: auto;
    height: calc(100vh - 25rem);
}
.contenido .galeria{
    display: flex;
    width: 25rem;
    height: 12.5rem;
}
.contenido .galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.contenido .galeria img:hover{
    cursor: crosshair;
    width: 125px;
    opacity: 1;
    filter: contrast(120%);
}
.asd{
    grid-area: asd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.asd h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 2px;
    padding: 5px;
    color: #8e42a5;
}

.asd p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #000;
}

.asd .foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.asd .foto img{
    width: 50%;
}
.asd{
    display: none;
    visibility: hidden;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #e5c0d9;
  }
  .social .rrss {
    width: 10em;
  }

  .footer{
  grid-area: footer;        
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  display: flex;
  margin: 0px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #e5c0d9;
}

.footer p{
  font-size: 0.8rem;  
  padding: 5px;
  margin: 5px;
}
/*----------- MEDIA QUERY TABLET ---------------*/
@media screen and (min-width: 576px) {
    .grid-container{
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
        "logo logo"
        "navbar navbar"
        "main main"
        "asd asd"
        "footer footer";

    }
    
    .asd{
        grid-area: asd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.2rem;
    }
    .asd h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        margin: 2px;
        padding: 5px;
        color: #8e42a5;
    }
    
    .asd p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        color: #000;
    }
    
    .asd .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
    }
    .asd .foto img{
        width: 55%;
    }
    .asd{
        display: flex;
        visibility: visible;
    }
    .contenido{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
        overflow-y: auto;
        height: calc(100vh - 15rem);
    }
    .contenido .galeria{
        display: flex;
        width: 30rem;
        height: 15rem;
    }
    .contenido .galeria img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    .contenido .galeria img:hover{
        cursor: crosshair;
        width: 135px;
        opacity: 1;
        filter: contrast(120%);
    }
    .logo img{
        width: 70%;
    }
   
}
/*----------- MEDIA QUERY DESKTOP ------------*/
@media screen and (min-width: 992px) {
    .grid-container{
        grid-template-columns: auto 1fr auto;
        grid-template-rows:auto 2fr auto ;
        grid-template-areas: 
        "logo logo logo"
        "navbar main asd"
        "footer footer footer";
        ;
    }
    .logo img{
        width: 60%;
    }
    .asd{
        grid-area: asd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.3rem;
    }
    .asd h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        margin: 2px;
        padding: 5px;
        color: #8e42a5;
    }
    
    .asd p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3em;
        color: #000;
    }
    
    .asd .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
    }
    .asd .foto img{
        width: 55%;
    }
    .asd{
        display: flex;
        visibility: visible;
    }
    .contenido{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
        overflow-y: auto;
        height: calc(100vh - 13rem);
    }
    .contenido .galeria{
        display: flex;
        width: 35rem;
        height: 20rem;
    }
    .contenido .galeria img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    .contenido .galeria img:hover{
        cursor: crosshair;
        width: 145px;
        opacity: 1;
        filter: contrast(120%);
    }
    

}